html {
background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
 min-height: 100vh;
}

body {
margin: 0;
}

nav {
    width: 100%;
    background-color: #00008B;
    height: 50px;
}

.navcontainer {
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.material-symbols-outlined {
    color: white; 
    transform: scale(1.25);
}

h1 {
    font-size: 70px;
    font-weight: 600;
    color: #fdfdfe;
    text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
      0px 0px 20px #b393d3;
      display: flex;
      justify-content: center;
  }

  h2.boxline {
    color: black;
    text-decoration: none;
    font-size: 50px;
  }

  a.navbar {
    color: white;
    text-decoration: none;
    justify-content: center;
  }

  a.navbar:hover {
    text-decoration: underline;
    transform: scale(1.125);
  }

.car {
    margin-left: 10vw;
    width : 60vw;
    height: 45vw;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 6%;
    background-color: none;
}

.mainBody {
    height: 41.75%;
    width : 40vw;
    height: 37vh;
    position: absolute;
    bottom: 27.5%;
    left: 20%;

}

.triangleImg {
    background-color: none;
    width: 13%;
    position: absolute;
    left: 74%;
    top: 30%;
    transform: scale(0.92);

}


.tyreOne {
    background-color: none;
    height: 9vw; 
    width: 9vw; 
    border-radius: 50%;
    position: absolute;
    top: 53vh; 
    left: 15vw; 
    margin: 0;
    cursor: pointer;
    z-index: 5;
}


.tyreTwo {
    background-color: none;
    height: 9vw; 
    width: 9vw; 
    border-radius: 50%;
    position: absolute;
    top: 54.5vh; 
    left: 52.5vw; 
    margin: 0;
    cursor: pointer;
    z-index: 5;
}

.tyreImg {
    position: absolute;
    width: 9vw;
    top: 0;
    left: 0;
}

.spareTyre {
    background-color: none;
    width: 3vw; 
    height: 7.5vw; 
    position: absolute;
    top: 31.5vh; 
    left: 9.25vw; 
    cursor: pointer;
}

.spareImg {
    width: 60px;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;

}

.spareTyre > .textbox {
    width: 200px;
    position: absolute;
    top: 50%;
}


.engine {
    background-color: none;
    width: 13vw; 
    height: 9vw; 
    position: absolute;
    top: 44.5vh;
    left: 50.25vw;

}

.engineImg {
    position: absolute;
    width: 13vw; 
    height: 9.25vw; 
    top: 0;
    left: 0;
}

.engine > .textbox {
    left: 100%;
    top: 0%;
}

.light {
    background-color: black;
    width: 1.3vw;
    height: 2.3vh;
    position: absolute;
    left: 75%;
    top: 5%;
}

.lightRay {
    opacity: 0;
    transform: rotate(90deg);
    animation-name: lightAnim;
    transform: 1s;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.light:hover > .lightRay{
    opacity: 1;
}

@keyframes lightAnim {
    0% {background-color: purple;}
    25% {background-color: blue;}
    50% {background-color: lightblue;}
    75% {background-color: aqua;}
    100% {background-color: purple;}
    
}

.textbox {
    opacity: 0;
    position: relative;
    top: 125%;
    left: 35%;
    transition: 1s;
    background-color: white;
    border: 0px none black;
    border-radius: 5px;
    padding: 20px;
    z-index: 5;
}



.textbox:after {
    content: "";
    position: absolute;
    top: -20px;
    left: 40px;
    width: 25px;
    height: 25px;
    background-color: white;
    clip-path: polygon(19% 0, 0% 100%, 100% 100%);
    z-index: 5;

}

.spareTyre > .textbox {
    width: 150px;
    position: absolute;
    top: 125%;
    left: -100%;
}

.tyreOne:hover > .textbox{
    opacity: 1;
}

.tyreTwo:hover > .textbox{
    opacity: 1;
}

.engine:hover > .textbox {
    opacity: 1;
}

.spareTyre:hover > .textbox {
    opacity: 1;
}

.info {
    background-color: white;
    border-radius: 5px;
    max-width: 100%;
    background-color: none;
    stroke: black;
    stroke-width: 5px;
    position: relative;
    left: 0%;
    padding: 10px;

}

.images {
    width: 25%; 
    display: block; 
    margin: 0 auto;
    border-radius: 10px;
  }
  
  

p.info {
    font-size: 30px;
    font-family: Lucida Console;
}

#tyre1info {
    display: none;
}

#tyre1info:target {
    display: block;
}

.flex-container {
    display: flex;
  justify-content:space-evenly;
  flex-direction: row;
}

#engineinfo {
    display: none;
}

#engineinfo:target {
    display: block;
}

#sparetyreInfo {
    display: none;
}

#sparetyreInfo:target {
    display: block;
}

#closeButton {
    background-color: red;
    font-weight: bold;
    position: relative;
    border: solid black 2px;
    top: 0;
    left: 0;
    cursor: pointer;
}


    
