html {
    background-color: blueviolet;
}

body {
    margin: 0;
}

h1 {
    font-size: 100px;
}

 h2.overlap {
    display: flex;
    justify-content: center;
    margin: 0;
 }

 h2 {
    display: flex;
    justify-content: center;
 }

 
.main-content {
    margin: 0px;
    background-color: orange;
    position: absolute;
    top: 650px;

}

.transparency {
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to top, orange, blueviolet);    z-index: 2;
    position: absolute;
    top : 550px;
    z-index: 2;
}

p.intro{
    font-size: 22px;
    margin-left: 15%;
    margin-right: 15%;
}



a.textlink {
    color: cadetblue;

}

nav {
    top: 0; 
    left: 0; 
    width: 100%;
    height: 50px;
    background-color: #035ee8;
    display: flex;
    z-index: 1000; 
}

h1 {
    display: flex;
    justify-content: center;
}

nav a {
    width: 25%;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar:hover {
    background-color: #f6019d;
}

.navlink {margin-right: 5%;}


a.navbar:hover {
    color : black;
    display: flex;
    justify-content: center;
}

.currpage {
    background-color: green;
}

.flex-container {
    display: flex;
  justify-content: wrap;
  flex-direction: row;
}

.types {
    margin: 50px;
    text-align: center;
    font-size: 25px;
  }

  .hardware {
    margin: 50px;
    text-align: center;
    font-size: 25px;
  }

  .img1 {
    width: 60%;
    margin: 0;
  }

.img2 {
    width: 60%;
    margin: 0;
  }

  a.page3:hover {
    text-shadow: 
      1px 1px 0 #000, 
      2px 2px 0 #000, 
      3px 3px 0 #000;


  }

  a.page3 {
    text-decoration-line:  none;
    color: black;
  }

